{% extends "base.html" %}
{% block body %}
<div class="row">
    <table class="ui single line striped selectable unstackable table">
        <thead>
        <tr>
            <th class="tg-mgyo">ID</th>
            <th class="tg-mgyo">JobStatus</th>
            <th class="tg-mgyo">Image</th>
            <th class="tg-mgyo">Command</th>
            <th class="tg-mgyo">Args</th>
            <th class="tg-mgyo">CPU</th>
            <th class="tg-mgyo">RAM</th>
            <th class="tg-mgyo">Status</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td class="tg-cly1"><a href="/tasks/{{ task.job_id }}/">{{ task.job_id }}</a></td>
            <td class="tg-cly1">{{ task.status }}</td>
            <td class="tg-cly1">{{ task.image_name.common_name }}</td>
            <td class="tg-cly1">{{ task.command }}</td>
            <td class="tg-cly1">{{ task.args }}</td>
            <td class="tg-cly1">{{ task.env_vars }}</td>
            <td class="tg-cly1">{{ task.requested_cpu }}</td>
            <td class="tg-cly1">{{ task.requested_ram }}</td>
            <td class="tg-cly1">{{ task.status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}