{% extends "base.html" %}
{% block body %}
<h1>Task Spec</h1><br/>
<p>{{ task.job_id }}</p>

<h1>Task Resource</h1><br/>
<p>{{ task.requested_cpu }}</p>
<p>{{ task.requested_ram }}</p>

<h1>Task Status</h1><br/>
<p>{{ task.status }}</p>
<p>{{ task.status_message }}</p>

<h1>Task Logs</h1><br/>
<p>{{ logs.stdout }}</p>
<p>{{ logs.stderr }}</p>

{% endblock %}