<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template" />
    <meta name="author" content="PPType" />
    <meta name="theme-color" content="#ffffff" />
    <title>Dashboard Template for Semantic-UI</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      type="text/css"
    />
    <style type="text/css">
      body {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: grayscale;
      }

      #sidebar {
        position: fixed;
        height: 100vh;
        background-color: #f5f5f5;
        padding-top: 68px;
        padding-left: 0;
        padding-right: 0;
      }

      #sidebar .ui.menu > a.item {
        padding: 10px 20px;
        line-height: 20px;
        color: #337ab7;
        border-radius: 0 !important;
        margin-top: 0;
        margin-bottom: 0;
      }

      #sidebar .ui.menu > a.item.active {
        background-color: #337ab7;
        color: white;
        border: none !important;
      }

      #sidebar .ui.menu > a.item:hover {
        background-color: #eee;
        color: #23527c;
      }

      #content {
        padding-top: 56px;
        padding-left: 20px;
        padding-right: 20px;
      }

      #content h1 {
        font-size: 36px;
      }

      #content .ui.dividing.header {
        width: 100%;
      }

      .ui.centered.small.circular.image {
        margin-top: 14px;
        margin-bottom: 14px;
      }

      .ui.borderless.menu {
        box-shadow: none;
        flex-wrap: wrap;
        border: none;
        padding-left: 0;
        padding-right: 0;
      }

      .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
        display: none;
      }
    </style>
  </head>

  <body id="root">
    <div class="ui tablet computer only padded grid">
      <div class="ui inverted borderless top fixed fluid menu">
        <a class="header item">UT CS HPC</a>
        <div class="right menu">
          <a class="item" href="/panel/">Dashboard</a>
          <a class="item">Profile</a>
          <a class="item" href="http://hpc.ut.ac.ir">Help</a>
        </div>
      </div>
    </div>
    <div class="ui mobile only padded grid">
      <div class="ui top fixed borderless fluid inverted menu">
        <a class="header item">UT CS HPC</a>
        <div class="right menu">
          <div class="item">
            <button class="ui icon toggle basic inverted button">
              <i class="content icon"></i>
            </button>
          </div>
        </div>
        <div class="ui vertical borderless inverted fluid menu">
          <a class="item" href="/panel/">Dashboard</a>
          <a class="item">Profile</a>
          <a class="item" href="http://hpc.ut.ac.ir">Help</a>
          <div class="ui fitted divider"></div>
        </div>
      </div>
    </div>
    <div class="ui padded grid">
      <div
        class="three wide tablet only three wide computer only column"
        id="sidebar"
      >
        <div class="ui vertical borderless fluid text menu">
          <a class="item" href="/tasks/">Tasks</a>
          <a class="item">Balance</a>
          <a class="item" href="/files/">Files</a>
          <div class="ui hidden divider"></div>
          <a class="item" href="/tasks/create">Create Task</a>
          <div class="ui hidden divider"></div>
          <a class="item">Change Password</a>
          <a class="item">Logout</a>
        </div>
      </div>
      <div
        class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
        id="content"
      >
        <div class="ui padded grid">
        {% block body %}
        {% endblock %}
<!--          <div class="row">-->
<!--            <table class="ui single line striped selectable unstackable table">-->
<!--              <thead>-->
<!--                <tr>-->
<!--                  <th>#</th>-->
<!--                  <th>Header</th>-->
<!--                  <th>Header</th>-->
<!--                  <th>Header</th>-->
<!--                  <th>Header</th>-->
<!--                </tr>-->
<!--              </thead>-->
<!--              <tbody>-->
<!--                <tr>-->
<!--                  <td>1,001</td>-->
<!--                  <td>Lorem</td>-->
<!--                  <td>ipsum</td>-->
<!--                  <td>dolor</td>-->
<!--                  <td>sit</td>-->
<!--                </tr>-->
<!--              </tbody>-->
<!--            </table>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>
      $(document).ready(function() {
        $(".ui.toggle.button").click(function() {
          $(".mobile.only.grid .ui.vertical.menu").toggle(100);
        });
      });
    </script>
  </body>
</html>