{% extends "base.html" %}
{% block body %}
<div class="row">
    <table class="ui single line striped selectable unstackable table">
        <thead>
        <tr>
            <th class="tg-mgyo">Name</th>
        </tr>
        </thead>
        <tbody>
        {% for directory in directories %}
        <tr>
            <td class="tg-cly1"><a href="/files?path={{ directory.path }}">{{ directory.name }}</a></td>
        </tr>
        {% endfor %}

        {% for file in files %}
        <tr>
            <td class="tg-cly1"><a href="/download?path={{ file.path }}">{{ file.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="ui-button row">
    <a href="/files?path={{ back_path }}">Back</a>
</div>
<div class="ui form">
    <form method="post" action="/upload/" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="upload" class="ui button"/>
    </form>
</div>
{% endblock %}